<ul class="sidebar-nav">
    <li><a href="/" class="nav-link"><i class="fa fa-home"></i> Home</a></li>
    <li><a href="/genres" class="nav-link"><i class="fa fa-music"></i> Discover</a></li>
    <li><a href="/radio" class="nav-link"><i class="fa fa-radio"></i> RadioOrb</a></li>
    <li><a href="/articles" class="nav-link"><i class="fa fa-newspaper"></i> News</a></li>
    <li><a href="/classifieds" class="nav-link"><i class="fa fa-tag"></i> Market</a></li>
    <li><a href="/tutorials" class="nav-link"><i class="fa fa-graduation-cap"></i> Learn</a></li>
    <li class="separator"></li>
    <li><a href="/settings/account" class="nav-link"><i class="fa fa-cog"></i> Settings</a></li>
</ul>

